.block_9 {
  display: flex;
  padding: 90px 200px;
  height: 790px;
  flex-direction: column;
  justify-content: space-between;
  background: $blue url(../img/map.jpg) center no-repeat;
  background-size: cover;
  color: $white;
  &.block {
    @media (max-width: 1199px) {
      padding-top: 90px;
      padding-bottom: 90px;
    }
    @media (max-width: 767px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  &__header {
    font-size: 35px;
    font-family: "Roboto";
    margin-bottom: 50px;
    text-transform: uppercase;
  }
  .btn-wrapper {
    align-self: center;
    text-align: center;
    @media (max-width: 767px) {
      align-self: stretch;
    }
    .block_5__content__button {
      color: $black;
      background: #fff;
      &:hover {
        background: $gold;
        color: #fff;
      }
    }
  }
}
